<div class="form_field">
  <%= form.label "Title" %>
  <%= form.text_area :title %>
</div>
<div class="form_field">
  <%= form.label "Body" %>
  <%= form.text_area :body %>
</div>
<div class="form_field">
  <%= form.submit "Post" %>
</div>
