<div class="announcement_form">
  <div>
    <%= form.label "Title" %>
    <%= form.text_area :title %>
  </div>
  <div>
    <%= form.label "Body" %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit "Post" %>
  </div>
</div>
