<h2><%= @announcement.title %>
  <span class="announcement_poster">
    by <%= link_to @user.username, @user %> at <%= @announcement.created_at.strftime("%A, %d %B %Y at %I:%M %P") %>
    <div class="control_buttons">
      <% if current_user.can_edit?(@announcement) %>
        <%= link_to "Edit Announcement", [:edit, @announcement] %>
        <%= button_to "Delete Announcement", @announcement, method: :delete %>
      <% end %>
      <%= render "flags/flag_buttons", flaggable: @announcement %>
    </div>
  </span>
</h2>

<div class="announcement_body">
  <%= @announcement.body %>
</div>

<div class="comment_form">
  <h3>Comments</h3>
  <div>
    <ul>
      <%= render @comments %>
    </ul>
  </div>
  <%= form_for [@announcement, @comment] do |form| %>
    <%= form.label :text, "New Comment" %>
    <%= form.text_area :text %>
    <%= form.submit "Post" %>
  <% end %>
</div>

