<h2><%= @announcement.title %></h2>
<div class="announcement_head">
  <div class="announcement_poster">
    by <%= link_to @user.username, @user %> at <%= @announcement.created_at.strftime("%A, %d %B %Y at %I:%M %P") %>
  </div>
  <div class="announcement_buttons">
    <% if current_user.can_edit?(@announcement) %>
      <%= button_to "Edit Announcement", [:edit, @announcement], method: :get %>
      <%= button_to "Delete Announcement", @announcement, method: :delete %>
    <% end %>
    <%= render "flags/flag_buttons", flaggable: @announcement %>
  </div>
</div>

<div class="announcement_body">
  <%=simple_format(@announcement.body) %>
</div>

<div class="comment_section">
  <h3>Comments</h3>
  <div class="comment_body">
    <ul>
      <%= render @comments %>
    </ul>
  </div>
  <div class="comment_form">
    <%= render "comments/form", commentable: @announcement, comment: @comment %>
  </div>
</div>

