<h2><%= @announcement.title %></h2>
<h4>by <%= link_to @user.username, @user %></h4>

<div class="announcement_body">
  <%= @announcement.body %>
</div>

<div class="announcement_comment">
  <h3> Comments </h3>
  "Comment to announcement with username and date posted"
  <div>
    <textarea> Insert Comment </textarea>
    <button>Submit</button>
  </div>
</div>

<div class="control_buttons">
  <% if current_user == @user %>
    <%= link_to "Edit Announcement", [:edit, @user, @announcement] %>
    <%= button_to "Delete Announcement", @announcement, method: :delete %>
  <% end %>
</div>
