<h3><%= @user.username %>'s Profile</h3>
<div class="user_info">
  <div class="profile_avatar">
    <%= image_tag @profile.avatar.thumb.url %>
  </div>

  <div class="profile_banner">
      <%= image_tag @profile.banner.banner.url %>
  </div>

</div>

<% if current_user == @user %>
  <%= link_to "Edit Profile", [:edit, @user, :profile] %>
<% end %>
  <div class="profile_list">
    <ul>
      <li>Name: <%= @profile.name %></li>
      <li>Pen Name: <%= @profile.pen_name %></li>
      <li>User Type: <%= @profile.account_type %></li>
      <li>Age: <%= @profile.age %></li>
      <li>Gender: <%= @profile.gender %></li>
      <li>Birthday: <%= @profile.birthday %></li>
      <li>Country: <%= @profile.country %></li>
      <li>Address: <%= @profile.address %></li>
      <li>City: <%= @profile.city %></li>
      <li>State: <%= @profile.state %></li>
      <li>Zipcode: <%= @profile.zipcode %></li>
      <li>Website: <%= @profile.website %></li>
    </ul>
  </div>
