<div>
  <%= form.label :book, "Book Title" %>
  <%= form.text_field :book %>
</div>
<div>
  <%= form.label :chapter%>
  <%= form.text_field :chapter %>
</div>
<div>
  <%= form.label :page%>
  <%= form.text_field :page %>
</div>
<div>
  <%= form.label :snippet_text, "Text" %>
  <%= form.text_field :snippet_text %>
</div>
<div>
  <%= form.label :snippet_source, "Source" %>
  <%= form.text_field :snippet_source %>
</div>
<div>
  <%= form.submit %>
</div>
