<h2> <%= "#{@user.username}" %> </h2>
<div class = "bookmark_links">
  <%= link_to "Bookmarks", [@user, :bookmarked_users] %>
  <%= link_to "Bookmarkers", [@user, :bookmarkers] %>
</div>
<div class = "profile">
  "Insert Your Profile Picture Here"
</div>

<div class = "banner">
  "Place Your Banner or Your Featured Showcase Item Here"
</div>

<%= link_to "This-User-Showcase-Link- Placeholder", showcase_book_path%>
<%= link_to "This-User-Owned-Books-Link- Placeholder", book_path%>

<%= render "bookmark_button", user: @user %>

<div class = "feed">
  <h3> News </h3>
  <% if current_user.id == @user.id %>
    <div>
      <button>Make New Announcement</button>
    </div>
  <% end %>
  "This User's News/Announcement Feed Placeholder"
  <%= link_to "This-User-Announcement-Link- Placeholder", announcement_path %>
</div>

<div class = "feed">
  <h3> Shoutbox </h3>
  <div class = "shouts">
      <%= render @shouts %>
  </div>
  <div class = "shout_entry">
    <em><strong>"Shoutbox"</strong></em>
    <%= form_for [@user, @shout] do |f| %>
      <%= f.text_area :body, size: "30x3" %>
      <%= f.submit "New shout" %>
    <% end %>
  </div>
</div>
