<h2><%= @user.username %></h2>
<div class="user_info">
  <div class="bookmark_links">
    <%= link_to "Bookmarks", [@user, :bookmarked_users] %>
    <%= link_to "Bookmarkers", [@user, :bookmarkers] %>
  </div>
  <div class="profile_avatar">
    <%= image_tag @user.profile.avatar.thumb.url %>
    <%= link_to "Profile", [@user, :profile] %>
  </div>

  <div class="profile_banner">
    "Place Your Banner or Your Featured Showcase Item Here"
  </div>

  <%= link_to "#{@user.username}'s Showcase", [@user, :showcase] %>
  <%= render "bookmark_button", user: @user %>
  <%= render "flags/flag_buttons", flaggable: @user %>
</div>

<div class="feed">
  <h3> News </h3>
  <% if current_user == @user %>
    <%= link_to "New Announcement", [:new, :announcement] %>
  <% end %>
  <%= link_to "All Announcements", [@user, @announcement] %>
  <div class="announcements">
    <ul>
      <%= render @announcements, user: @user, announcements: @announcements %>
    </ul>
  </div>
</div>

<div class="feed">
  <h3>Shoutbox</h3>
  <div class="shouts">
      <%= render @shouts %>
  </div>
  <div class="shout_entry">
    <%= form_for [@user, @shout] do |form| %>
      <%= form.text_area :body, size: "30x3" %>
      <%= form.submit "New shout" %>
    <% end %>
  </div>
</div>
