<h2> <%= @book.title %> </h2>

This page lists the details of a book of a particular ID once it is registered.

<ul>
  <li>Title: <%= @book.title %></li>
  <li>Author: <%= render @book.authors %></li>
  <li>Genre: <%= @book.genre %></li>
  <li>Status: <%= @book.status %></li>
  <li>Edition: <%= @book.edition %></li>
  <li>Format: <%= @book.format %></li>
  <li>ISBN-10: <%= @book.ISBN_10%></li>
  <li>ISBN-13: <%= @book.ISBN_13%></li>

  <li>Publisher: <%= render @book.publishers %></li>
  <li>Published Date: <%= @book.published %></li>
</ul>

<p><b>Description</b>: This book currently has no description.</p>

<h3> Shops that sell this book: </h3>
  <ul>
    <%= render @book.shops %>
  </ul>

<h3> Comments about this book: </h3>
<div>
  "This book is awesome!" -User, date
  <div>
    <textarea> Insert Comment </textarea>
    <button>Submit</button>
  </div>
</div>
