<!DOCTYPE html>
<html>
<head>
  <title>Sastra</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "head_banner">
  <div class = "site_title_link">
    <h1> <%=link_to "Sastra", :dashboard %> </h1>
  </div>

  <div class = "session_header">
    <% if signed_in?%>
    | <%= link_to current_user.username, @user%> |
    | <%= link_to "Sign Out", sign_out_path%> |
    | <%= link_to "Settings", settings_path%> |
    <% else %>
    | <%= link_to "Sign In", sign_in_path%> |
    | <%= link_to "Sign Up", sign_up_path%> |
    <% end%>
  </div>

  <div class = "about_us">
    | <%=link_to "About Us", abouts_path%> |

  </div>

  <div class = "contact_us">
    | <%= link_to "Contact Us", contacts_path%> |
  </div>
</div>

<div class = "yield">
  <%= yield %>
</div>

</body>
</html>
